$menu-width: 20rem;
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/*
Add transition to containers so they can push in and out.
*/
.layout,
.menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
.layout {
  position: relative;
  padding-left: 0;
  &.active {
    .menu {
      left: $menu-width;
    }
    .menu-link {
      left: $menu-width;
    }
  }
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 50rem;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

.menu {
  margin-left: -$menu-width; /* "#menu" width */
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  z-index: 1000; /* so the menu or its navicon stays above all content */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background: #F1F1F1;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
.pure-menu {
  ul {
    margin: 0;
    padding: 1rem 0;

    list-style: none;
    border: none;
    background: transparent;
  }

  &-list-date {
    background-color: #FDFDFD;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #FFF;
    height: 31px;
    line-height: 31px;
  }

  li {
    padding: .5rem 1rem;
  }
  a {
    color:black;
    text-decoration: none;
    &:hover {
      color: #888888;
    }
  }
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 3rem;
  height: 3rem;
  padding: 0 0.5rem;
  border: none;
  background: white;
  outline-color: transparent;

  &:hover,
  &:focus {
    outline-color: transparent;
    span {
      opacity: .9;
    }
  }

  span {
    position: relative;
    display: block;
    background-color: #ccc;
    width: 100%;
    height: 0.2rem;
    &:before,
    &:after {
      position: absolute;
      display: block;
      background-color: #ccc;
      width: 100%;
      height: 0.2rem;
      content: " ";
    }
    &:after {
      top: 0.5rem;
    }
    &:before {
      bottom: 0.5rem;
    }
  }
}

.layout.active {
  position: relative;
  .menu-link {
    background: #F1F1F1;
    span {
      background-color: #888888;
      &:before,
      &:after {
        background-color: #888888;
      }
    }
  }
}

