$menu-width: 20rem;
$menu-btn: 3rem;
$dark-gr: #888888;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  button,
  a,
  * {
    -webkit-appearance: none;
  }
}

.layout,
.menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.layout {
  position: relative;
  padding-left: 0;
  &.active {
    .menu {
      left: $menu-width;
    }
    .menu-link {
      left: $menu-width;
      background: #F1F1F1;
      span {

        background-color: $dark-gr;
        &:before,
        &:after {
          background-color: $dark-gr;
        }
      }
    }
  }
}

.article-nav {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;

  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;

  background: #E4E4E4;

  &-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  &-link {
    display: flex;
    position: relative;
    padding: 0 1.5rem;
    line-height: $menu-btn;
    color: $dark-gr;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    &--prev {
      margin-left: 1rem;
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left:0;
        border-style: solid;
        border-width: 8px 10px 8px 0;
        border-color: transparent $dark-gr transparent transparent;
        margin-top: -8px;
      }
    }

    &--next {
      margin-right: 1rem;
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right:0;
        border-style: solid;
        border-width: 8px 0 8px 10px;
        border-color: transparent transparent transparent $dark-gr;
        margin-top: -8px;
      }
    }

    &:hover {
      color: black;
      &:before {
        border-color: transparent black transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent black;
      }
    }
  }
}

.menu {
  margin-left: -$menu-width; /* "#menu" width */
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: $menu-btn;

  z-index: 100;
  background: #F1F1F1;

  &-link {
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: $menu-btn;
    height: $menu-btn;
    padding: 0 0.5rem;
    border: none;
    background: transparent;
    outline-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      outline-color: transparent;
      span {
        opacity: .6;
      }
    }

    span {
      position: relative;
      display: block;
      background-color: white;
      width: 100%;
      height: 0.2rem;
      &:before,
      &:after {
        position: absolute;
        display: block;
        background-color: white;
        width: 100%;
        height: 0.2rem;
        content: " ";
      }
      &:after {
        top: 0.5rem;
      }
      &:before {
        bottom: 0.5rem;
      }
    }
  }
}


.pure-menu {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    margin: 0;
    padding: 1rem 0;

    list-style: none;
    border: none;
    background: transparent;
  }

  &-list-date {
    background-color: #FDFDFD;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #FFF;
    height: 31px;
    line-height: 31px;
  }

  li {
    padding: .5rem 1rem;
  }
  a {
    color:black;
    text-decoration: none;
    &:hover {
      color: $dark-gr;
    }
  }
}

.main{
  padding-top: $menu-btn;

  &-content {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 50rem;
    @media screen and (max-width: 480px) {
      padding: 0 1rem;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  code {
    width: 100%;
    overflow: auto;
    display: block;
    @media screen and (max-width: 480px) {
      margin: 0.5rem -1rem;
      padding: 0.5rem 1rem;
    }
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
}






